html {
  background-color: #FFFFF8;
}
.App {
  text-align: center;
}
.table {
  display: inline-block;
  background-color: #61dafb
}

#tracker input{
  float:right;
  clear:right
}
#tracker label {
  float:left;
  clear:left;
}

